@import "kouto-swiss"
@import "helpers"
@import "swiper"

// ******************************************************

// FONTS

// ******************************************************

// ICONS FONTS

// ** https://genericons.com WP icon font set
// @import "fonts/icons/genericons"

// ** minimal version of Google Materialize UI icons. check the styl for usage
@import "fonts/icons/materialize-min"

// ** full set of Google Materialize. https://design.google.com/icons/
// @import "fonts/icons/materialize"

// ******************************************************

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// VARIABLES

$cols = 12
$gutter = 36px
$container = 1150px

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-larger = 1.3rem
$font-size-h4 = golden-ratio(1rem , 0.9)
$font-size-h3 = golden-ratio(1rem , 1.7)
$font-size-h2 = golden-ratio(1rem , 2.5)
$font-size-h1 = golden-ratio(1rem , 3.2)

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

// ******************************************************

// GRID

.container
  margin: 0 auto
  width: $container

.row
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  padding-top: ($gutter / 2)
  margin-bottom: ($gutter / 2)
  &.reverse
    flex-direction: row-reverse
    
// FLEX POSITIONING

.flex-col
  display: flex
  flex-direction: column
    
.flex-row
  display: flex
  flex-direction: row

.justify-start
  justify-content: flex-start
  
.justify-center
  justify-content: center
  
.justify-end
  justify-content: flex-end
  
.align-start 
  align-items: flex-start
  
.align-center 
  align-items: center
  
.align-end
  align-items: flex-end
  
// COLUMN SIZES & OFFSETS
  
.col
  box-sizing: border-box
  flex-grow: 1
  flex-basis: 0
  max-width: 100%
  
.col-s
  flex: 0 0 auto
  padding-right: ($gutter / 2)
  padding-left: ($gutter / 2)
  
for offset in 0..($cols - 1)
  .offset-s-{offset}
    margin-left: ( 100% / $cols ) * offset 

for col in 1..$cols
  .col-s-{col}
    flex-basis: ( 100% / $cols ) * col 
    max-width: ( 100% / $cols ) * col 
    
@media screen and (min-width: 601px)

  .col-m
    flex: 0 0 auto
    padding-right: ($gutter / 2)
    padding-left: ($gutter / 2)

  for offset in 0..($cols - 1)
    .offset-m-{offset}
      margin-left: ( 100% / $cols ) * offset 

  for col in 1..$cols
    .col-m-{col}
      flex-basis: ( 100% / $cols ) * col 
      max-width: ( 100% / $cols ) * col 

@media screen and (min-width: 993px)

  .col-l
    flex: 0 0 auto
    padding-right: ($gutter / 2)
    padding-left: ($gutter / 2)

  for offset in 0..($cols - 1)
    .offset-l-{offset}
      margin-left: ( 100% / $cols ) * offset 

  for col in 1..$cols
    .col-l-{col}
      flex-basis: ( 100% / $cols ) * col 
      max-width: ( 100% / $cols ) * col 

// ******************************************************

// TYPOGRAPHY

html
  font-family: font-stack('Helvetica')
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1, .font-size-h1
  font-size: $font-size-h1
  line-height: $font-leading-tighter
  margin: 0

h2, .font-size-h2
  font-size: $font-size-h2
  line-height: $font-leading-tighter

h3, .font-size-h3
  font-size: $font-size-h3
  
h4, .font-size-h4
  font-size: $font-size-h4

p
  margin-bottom: 1rem

  // FONT RULES

.font-italic
  font-style: italic

.font-bold
  font-weight: bold

.font-small-caps
  font-size: 0.85em
  text-transform: uppercase
  
.font-uppercase
  text-transform: uppercase

.font-capitalize
  text-transform: capitalize

  // TEXT RULES

.text-overflow-ellipsis
  overflow: ellipsis

.text-align-left
  text-align: left

.text-align-right
  text-align: right

.text-align-center
  text-align: center

  // LINKS

a,
a:active,
a:visited
  color: inherit
  text-decoration: none 

// ******************************************************

// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft
  
.section
  width: 100%
  padding: $margin-tiny 0
  border-top: 1px solid $color-black-soft 

img
  max-width: 100%
  height: auto
  
.button
  border: 1px solid $color-black-soft
  padding: $margin-micro
  
.button-big
  padding: $margin-small 0
  
input
  border: 1px solid $color-black-soft
  padding: $margin-micro
  -webkit-appearance: none
  background: none
  &:focus 
    outline: none
  &:-webkit-autofill 
    -webkit-box-shadow: 0 0 0px 1000px $color-white-soft inset !important //Hack kills autofill yellow
  

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// HEADER

#header 
  border-top: 0

// FRONT PAGE 

#front-splash
  padding: 0

#splash-image
  width: 100%
  max-width: 1440px
  margin: 0 auto
  display: block

.text-columns-2 
  column-count: 2
  column-gap: $gutter
  
// VISITOR INFO

.border-row
  border-top: 1px solid $color-black-soft
  padding: $margin-tiny 0
  &:last-of-type
    border-bottom: 1px solid $color-black-soft
  p
    margin-bottom: 0
    
.venue-map iframe
  width: 100%
  max-height: 500px
  flex-grow: 1

// FOOTER

.lead-sponsor-logo
  margin-right: $margin-small
  
.social-icon
  padding-left: $margin-tiny



// ******************************************************

// MEDIA QUERIES

@media screen and (max-width: $container)

  @import "responsive/desktop-mid"

@media screen and (max-width: 993px)

  @import "responsive/mobile"