//copy styles from site.styl

$gutter = 32px

.container
  width: 1150px

.mobile-only
  display: none

.row
  padding-top: ($gutter / 2)

.col
  margin-bottom: ($gutter / 2)

$font-size-basic = 14px
$font-size-larger = 1.3rem
$font-size-h4 = golden-ratio(1rem , 0.7)
$font-size-h3 = golden-ratio(1rem , 1.5)
$font-size-h2 = golden-ratio(1rem , 2.2)
$font-size-h1 = golden-ratio(1rem , 2.5)

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

$header-height = 370px
$footer-height = 376px

html
  font-family: $font-sans
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1, .font-size-h1
  font-size: $font-size-h1
  line-height: $font-leading-tighter
  margin: 0
  font-family: $font-serif
  font-weight: 900

h2, .font-size-h2
  font-size: $font-size-h2
  line-height: $font-leading-tighter
  font-family: $font-serif
  font-weight: bold

h3, .font-size-h3
  font-size: $font-size-h3

h4, .font-size-h4
  font-size: $font-size-h4

// ******************************************************

// BASIC

.border-row
  margin-left: $margin-tiny
  margin-right: $margin-tiny

.section
  padding: $margin-small 0

.pagination-section
  .col
    margin-bottom: ($gutter / 2)

.button, a.button
  padding: $margin-tiny
  &.button-big
    padding: $margin-small $margin-tiny
    font-size: $font-size-h4
  &.button-margin-right
    margin-right: $margin-tiny

input
  padding: $margin-micro

.gform_wrapper
  .gform_heading
    margin-bottom: $margin-small
  font-size: $font-size-basic
  input, select, textarea
    &[type=submit]
      font-size: $font-size-h3

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

#main-content
  min-height: calc('100vh - ' + ($header-height + $footer-height))

.menu-item
  font-size: $font-size-h4
  &.col
    margin-bottom: $margin-small

// ******************************************************

// FRONT PAGE

#front-splash
  padding: 0

#splash-image
  width: 100%
  max-width: 1440px
  margin: 0 auto
  display: block

// VISITOR INFO

.venue-map iframe
  border-width: $margin-micro !important

// ******************************************************

// PROGRAM

.calendar-heading
  padding: $margin-small 0

.event-time, .event-times-divider
  margin: 0 $margin-micro 0 0

// ******************************************************

// PRESS

.swiper-container
  height: 500px

.swiper-button-prev, .swiper-button-next
  padding: $margin-tiny

// ******************************************************

// FOOTER

.lead-sponsor-logo
  margin-right: $margin-small
  margin-bottom: $margin-small

#mailchimp-email
  margin-right: $margin-micro

#mailchimp-response
  margin-left: $margin-micro

// ******************************************************

// VIP

.post-password-form
  input
    &[name=post_password]
      margin-right: $margin-small

.wrong-password, .gform_confirmation_message
  padding: $margin-tiny

.gform_confirmation_message
  font-size: $font-size-h4
