//copy styles from site.styl
$cols = 12
$gutter = 30px 

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large
  
// ******************************************************

.col
  margin-bottom: ($gutter / 2)
  
.col-m
  flex: 0 0 auto
  padding-right: ($gutter / 2)
  padding-left: ($gutter / 2)

for offset in 0..($cols - 1)
  .offset-m-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-m-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col
    
.menu-item
  font-size: $font-size-h4

.text-columns-2
  column-count: 2
  column-gap: $gutter

.event-time, .event-times-divider 
  display: block
  margin: 0 0 $margin-micro 0
  text-align: center 

.event-times-divider
  transform: rotate(0deg)
  
.event-times-day
  display: block
